@import './variable';
// Node modules
@import '~codemirror/lib/codemirror.css';
@import './code-editor-override';
@import './global';
@import './header';

.registerTable {
  text-align: center;
  flex: 1;
}

.INSTClass {
  text-align: left;
  padding-left: 10px;
}

.stack-container {
  overflow: auto;
}

.stack {
  overflow: auto;
  margin: 0 5px;
  width: 100px;
}

.prints {
  overflow: scroll;
  max-height: 400px;
}

.examples {
  position: fixed;
  background: $body-background;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
  z-index: 21;
  padding-top: 25px;
  transition: all 1s ease;
  &.active {
    left: 0;
  }
}

.actions {
  margin: 5px;
  display: flex;
  > button {
    flex: 1;
    border: 0;
    margin: 4px;
    padding: 10px;
    font-size: 15px;
    background: $button-color;
  }
}

.assembly-simulator-header,
.trace-table {
  grid-column-start: 1;
  grid-column-end: -1;
}

.assembly-simulator-header {
  display: flex;
  justify-content: space-between;
}

.save-load-container {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

.link-action {
  text-decoration: none;
  color: $body-text-color;
}

.link-action:hover {
  color: white;
  cursor: pointer;
}

.lineToHighlight {
  background: $highlight-line;
}

.errorLine {
  background-color: $error-color;
}

.sidebar {
  height: 100%;
  width: $sidebar-width;
  position: absolute;
  z-index: 26;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
  border-right: 2px solid $body-text-color;
  transition: width 0.5s;
}

.sidebar-closed {
  width: 0px;
  border: none;
}

.save-code-overlay {
  height: 30%;
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed; 
  
  top: 20%; 
  left: 40%;

  border-radius: 3%;

  background-color: #181b2e; 
  z-index: 1; 
}

.save-button {
  border: 0px;

  font-size: inherit;
  color: inherit;
  background: inherit;
}

.save-button:hover {
  color: white;
  cursor: pointer;
}

.save-button:focus {
  outline: none;
}

.filename-input {
  height: 20%; 
  width: 70%;

  margin-top: 10%;
  margin-bottom: 10%;

  border: none;
  border-bottom: 1px solid $body-text-color;

  background: inherit;

  font-size: 15px;
  color: $body-text-color;
}

.filename-input:focus {
  outline: none;
}

.save-dialogue-box-close-button  {
  position: relative;
  top: 0%;
  left: 45%;
}